<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
    <title>{{htmlWebpackPlugin.options.resume.basics.name}}</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
</head>
<body>
    <div class="d-none">
    </div>
    <div class="page">
        <div class="sidebar">
             {{> sections/basic resume=htmlWebpackPlugin.options.resume }}
             {{> sections/contact resume=htmlWebpackPlugin.options.resume }}
             {{> sections/skills resume=htmlWebpackPlugin.options.resume }}
             {{> sections/education resume=htmlWebpackPlugin.options.resume }}
        </div>
        <div class="content">
            <div class="watermark">
                <span class="text-secondary">Generated with</span>
                <i class="fab fa-node-js"></i>
            </div>
            {{> sections/summary resume=htmlWebpackPlugin.options.resume }}
            {{> sections/work resume=htmlWebpackPlugin.options.resume }}

            {{> sections/awards resume=htmlWebpackPlugin.options.resume }}
            {{> sections/publications resume=htmlWebpackPlugin.options.resume }}
            {{> sections/volunteer resume=htmlWebpackPlugin.options.resume }}
            {{> sections/skills resume=htmlWebpackPlugin.options.resume }}
            {{> sections/languages resume=htmlWebpackPlugin.options.resume }}
            {{> sections/interests resume=htmlWebpackPlugin.options.resume }}
            {{> sections/references resume=htmlWebpackPlugin.options.resume }}
            {{> sections/certifications resume=htmlWebpackPlugin.options.resume }}
        </div>
    </div>

    <script>
        var pageHeights = {
          letter: 792,
          a4: 842
        }
        var pageHeight = pageHeights['{{lowercase htmlWebpackPlugin.options.resumeConfig.format}}']
        var html = document.querySelector('.page')
        var height = html.scrollHeight

        if (height/pageHeight !== 0) {
          //html.style.height = (Math.ceil(height/pageHeight) * pageHeight) + 'px'
        }
    </script>
</body>
</html>
