

@media print {
  @page {
    margin: 0;
  }

  html,
  body {
    align-items: stretch;
    height: 99.99;
  }

  .page {
    width: auto;
    margin: 0;
    box-shadow: none;
  }

  .section-summary,
  .section-languages,
  .sidebar .section-skills,
  p {
    page-break-inside: avoid;
  }

  .icon {
    color: darken($sidebar-bg, 5%) !important;
  }

  .basics {
    border-bottom: map-get($scale, smaller) solid darken($sidebar-bg, 5%);

    & > header {
      background: white
    }

    h1 { color: black; }
    h2 { color: $page-color; }

  }

  .sidebar {
    background-color: white !important;
    color: black !important;
    a {
      color: black !important;
    }
  }

  .sidebar > article,
  .content > article {
    & > header {
      border-bottom: .2em solid $sidebar-secondary;
      margin-bottom: map-get($scale, smaller);
    }
  }
}

/* style sheet for "A4" printing */
@media print and (width: 21cm) and (height: 29.7cm) {
  @page {
    size: A4;
  }

}

/* style sheet for "letter" printing */
@media print and (width: 8.5in) and (height: 11in) {
  @page {
    size: Letter;
  }
}