

@media print {
  @page {
    margin: 0;
  }

  html,
  body {
    margin: 0;
    width: 100%;
  }

  .page {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }

  .section-summary,
  .section-languages,
  .card,
  .sidebar .section-skills,
  p {
    page-break-inside: avoid;
  }
}

/* style sheet for "A4" printing */
 @media print and (width: 21cm) and (height: 29.7cm) {
   @page {
     size: A4;
   }
    .page {
      min-height: 29.7cm;
    }
 }
 /* style sheet for "letter" printing */
 @media print and (width: 8.5in) and (height: 11in) {
   @page {
     size: Letter;
   }
    .page {
      min-height: 11in;
    }
 }