// Variables
// ----------------------------------------------

// Toggles

$enable-avatar: true;
$enable-skills-sidebar: true;

// Colors

$background-bg: #424546;
$color-primary: #d9534f;
$color-secondary: #8a979e;
$brand-primary: $color-primary;

$page-bg: white;
$page-color: #292b2c;
$page-primary: $color-primary;
$page-secondary: $color-secondary;

$sidebar-bg: #242324;
$sidebar-color: white;
$sidebar-primary: $color-primary;
$sidebar-secondary: $color-secondary;

// Fonts

$elite-font-path: "../fonts";
$elite-font-name: "elite";


// Font Sizes

$font-family-sans-serif: 'Maven Pro', sans-serif;

// Page
$scale: (
	'smaller': .563em,
	'small': 0.75em,
	'normal': 1em,
	'large': 1.333em,
	'larger': 1.777em,
	'largest': 2.369em
);


$page-width: 50rem;
$spacer: map-get($scale, 'normal');
$sidebar-width: 14rem;
$avatar-size: 90px;
